# Configuration Supabase
VITE_SUPABASE_URL=votre_url_supabase_ic
VITE_SUPABASE_ANON_KEY=votre_clé_anonyme_supabase_ic

# Configuration Cloudinary (pour les uploads d'images)
VITE_CLOUDINARY_CLOUD_NAME=votre_nom_cloud_cloudinary
VITE_CLOUDINARY_UPLOAD_PRESET=votre_preset_upload
