-- Mise à jour de la table profiles pour le look \
Instagram\
ALTER TABLE chat_profiles 
ADD COLUMN IF NOT EXISTS banner_url TEXT,
ADD COLUMN IF NOT EXISTS website TEXT,
ADD COLUMN IF NOT EXISTS location TEXT,
ADD COLUMN IF NOT EXISTS followers_count INTEGER DEFAULT 0,
ADD COLUMN IF NOT EXISTS following_count INTEGER DEFAULT 0,
ADD COLUMN IF NOT EXISTS posts_count INTEGER DEFAULT 0;

-- Politique pour permettre à l'utilisateur de modifier sa bannière
CREATE POLICY \Users
can
update
own
banner\ ON chat_profiles
FOR UPDATE USING (auth.uid() = id);
